In [1]:
import pandas as pd
import json

In [2]:
# Load the JSON file
data = json.load(open('null_annotations.json'))

In [3]:
# Normalize the annotations
df = pd.json_normalize(data['annotations'], 'objects', ['frame_number'])

In [4]:
frame_per_sec = int(float(data['frame_rate'].replace(' FPS', '')))

anomaly_data = []

# Initialize frames and objects
frames = []
objects = []

# Iterate through the DataFrame only once
for i, row in df.iterrows():
    if row["label"] == "violence":
        # Append frame number and object ID if not already present
        if row["frame_number"] not in frames:
            frames.append(row["frame_number"])
        if row["object_id"] not in objects:
            objects.append(row["object_id"])

    # If the current row is the last one or the label is not violence
    if (i == len(df) - 1) or (row["label"] != "violence"):
        if frames and objects:
            duration = len(frames)
            participant = len(objects)
            anomaly_data.append({"duration": duration, "participant": participant})
            frames.clear()  # Clear frames for the next anomaly
            objects.clear()  # Clear objects for the next anomaly

anomaly_data

[{'duration': 5, 'participant': 2}, {'duration': 6, 'participant': 4}]

In [5]:
conn_url = 'postgresql://postgres.tlpiifklkbuedzfowczl:c56IfgElqS3eASfE@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres'

In [23]:
# select largest anomaly id
query = '''
select max(anomaly_id)
from anomaly
'''
max_id_df = pd.read_sql(query,conn_url)
max_id = int(max_id_df.iloc[0]["max"])
max_id

99

In [30]:
# select all available camera
query = '''
select camera_id 
from camera 
where status = 1
'''

available_cam_df = pd.read_sql(query,conn_url)
available_cam = available_cam_df['camera_id'].tolist()
available_cam

[7, 4, 1, 2, 3, 8, 6, 5]

In [32]:
import random
from datetime import datetime

In [46]:
anomaly = []

next_id = max_id + 1

for data in anomaly_data:
    # get random time 
    hours = random.randint(0, 23)
    minutes = random.randint(0, 59)
    seconds = random.randint(0, 59)
    random_time = f"{hours:02}:{minutes:02}:{seconds:02}"

    # add data to anomaly list
    anomaly.append({
    "anomaly_id" : next_id,
    "camera_id" : random.choice(available_cam),
    "date" : datetime.now().date(),
    "time" : random_time,
    "duration" : data["duration"],
    "participant" : data["participant"],
    "warning" : 0,
    "evidence_path" : 'https://tlpiifklkbuedzfowczl.supabase.co/storage/v1/object/public/COS40006-G1B-STORAGE/violence-sample2.mp4'
    })

    next_id += 1
    
anomaly_df = pd.DataFrame(anomaly)

anomaly_df

,anomaly_id,camera_id,date,time,duration,participant,warning,evidence_path
0,100,2,2024-10-24,01:35:02,5,2,0,https://tlpiifklkbuedzfowczl.supabase.co/stora...
1,101,4,2024-10-24,01:17:52,6,4,0,https://tlpiifklkbuedzfowczl.supabase.co/stora...

In [49]:
anomaly_df.to_sql(
    "anomaly",
    conn_url,
    if_exists= "append",
    index=False
)

2

In [52]:
# Get today records
query = '''
select * 
from anomaly
where date = CURRENT_DATE
'''

new_added = pd.read_sql(query, conn_url)
new_added

,anomaly_id,camera_id,date,time,duration,participant,warning,evidence_path
0,100,2,2024-10-24,01:35:02,5,2,0,https://tlpiifklkbuedzfowczl.supabase.co/stora...
1,101,4,2024-10-24,01:17:52,6,4,0,https://tlpiifklkbuedzfowczl.supabase.co/stora...