In [1]:
import pandas as pd
import json

In [2]:
# Load the JSON file
data = json.load(open('null_annotations.json'))

In [3]:
# Normalize the annotations
df = pd.json_normalize(data['annotations'], 'objects', ['frame_number'])
df[:10]

,object_id,label,bounding_box.x,bounding_box.y,bounding_box.width,bounding_box.height,frame_number
0,1,normal,520.488107,212.081966,48.014280,78.030157,1
1,2,normal,534.492272,174.067274,43.012792,47.018172,1
2,1,normal,524.489297,239.092405,51.015172,96.037116,2
3,2,normal,598.511311,199.076939,36.010710,67.025904,2
4,1,normal,492.479777,287.120578,69.020527,103.020592,3
5,2,normal,650.860193,231.089312,38.011305,72.027837,3
6,1,normal,361.774218,356.137640,53.015767,154.059541,4
7,2,normal,580.839368,281.127691,75.022312,105.002501,4
8,1,violence,291.753394,379.172011,92.027369,159.010518,5
9,2,violence,486.811404,371.143440,62.018444,149.057608,5

In [4]:
new_df = df[['frame_number', 'label', 'object_id']]
new_df[:10]

  frame_number     label object_id
0            1    normal         1
1            1    normal         2
2            2    normal         1
3            2    normal         2
4            3    normal         1
5            3    normal         2
6            4    normal         1
7            4    normal         2
8            5  violence         1
9            5  violence         2